[
    {tls_bench, [
        {servers, [

            {acceptors, 8},

            {listen_opt, [
                {reuseaddr, true},
                {nodelay, true},
                {active, false},
                {backlog, 5000}
            ]},

            {tls_opt, [
                {verify, verify_none},
                {certfile, "priv/server.pem"},
                {ciphers, ["ECDHE-RSA-AES128-SHA256", "AES128-SHA256", "AES128-SHA"]}
            ]},

            {tcp_opt, [
                {nodelay, true},
                {active, once}
            ]},

            {ssl, [{port, 4000}]},
            {p1_tls, [{port, 5000}]},
            {fast_tls, [{port, 6000}]},
            {etls, [{port, 7000}]},
            {gen_tcp, [{port, 8000}]}
        ]},

        {client, [
            {tls_opt, [
                {verify, verify_none},
                {certfile, "priv/server.pem"},
                {ciphers, ["ECDHE-RSA-AES128-SHA256", "AES128-SHA256", "AES128-SHA"]}
            ]},

            {tcp_opt, [
                binary,
                {nodelay, true},
                {packet, 0},
                {active, true}
            ]},

            {host, "127.0.0.1"},
            {connect_timeout, 30000},
            {recv_timeout, 5000}
        ]}
    ]}
].