[
    {tls_bench, [
        {servers, [

            {acceptors, 8},

            {listen_opt, [
                {reuseaddr, true},
                {nodelay, true},
                {active, false},
                {backlog, 5000}
            ]},

            {tls_opt, [
                {certfile, "priv/server.pem"},
                %note: format is different for each framework. this input is preprocessed
                %by tlsb_config:get_ciphers/1. For ssl use list for all other join by : .
                {ciphers, ["ECDHE-RSA-AES128-SHA256", "AES128-SHA256", "AES128-SHA"]}
            ]},

            {tcp_opt, [
                binary,
                {packet, 0},
                {nodelay, true},
                {active, once}
            ]},

            {ssl, [
                {port, 4000},
                {tls_opt, [
                    {verify, verify_none}
                ]}
            ]},

            {p1_tls, [
                {port, 5000},
                {tls_opt, [
                    verify_none, compression_none
                ]}
            ]},

            {fast_tls, [
                {port, 6000},
                {tls_opt, [
                    verify_none, compression_none
                ]}
            ]},

            {etls, [
                {port, 7000},
                {tls_opt, [
                    {verify, verify_none}
                ]}
            ]},

            {gen_tcp, [
                {port, 8000}
            ]}
        ]},

        {client, [
            {tls_opt, [
                {certfile, "priv/server.pem"},
                {ciphers, ["ECDHE-RSA-AES128-SHA256", "AES128-SHA256", "AES128-SHA"]}
            ]},

            {tcp_opt, [
                binary,
                {nodelay, true},
                {packet, 0},
                {active, true}
            ]},

            {ssl, [{tls_opt, [{verify, verify_none}]}]},
            {p1_tls, [{tls_opt, [verify_none, compression_none]}]},
            {fast_tls, [{tls_opt, [verify_none, compression_none]}]},
            {etls, [{tls_opt, [{verify, verify_none}]}]},
            {gen_tcp, []},

            {host, "127.0.0.1"},
            {connect_timeout, 30000},
            {recv_timeout, 5000}
        ]}
    ]}
].