{erl_opts, [
    debug_info
]}.

{deps, [
    %{plists, ".*", {git, "https://github.com/silviucpp/plists.git", {tag, "1.1.2"}}},
    {erltls, ".*", {git, "https://github.com/silviucpp/erltls.git", "master"}},
    {p1_tls, ".*", {git, "https://github.com/processone/tls.git", "6b09ed76342529aad4e61bb298e97bf17ec136f5"}},
    {fast_tls, ".*", {git, "https://github.com/processone/fast_tls.git", {tag, "1.0.7"}}},
    {etls, ".*", {git, "https://github.com/kzemek/etls.git", "a915ece167564015a555ca3a69e508ef82d00ad0"}}
]}.