{erl_opts, [
    debug_info,
    {parse_transform,lager_transform}
]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}},
    {plists, ".*", {git, "https://github.com/silviucpp/plists.git", {tag, "1.1.2"}}},
    {p1_tls, ".*", {git, "https://github.com/processone/tls.git", "6b09ed76342529aad4e61bb298e97bf17ec136f5"}},
    {fast_tls, ".*", {git, "https://github.com/processone/fast_tls.git", {tag, "1.0.7"}}},
    {etls, ".*", {git, "https://github.com/kzemek/etls.git", {tag, "1.1.2"}}}
]}.